.root {
    -fx-font-family: Consolas;
}

.button {
    -fx-background-color: #FFF;
    -fx-text-fill: #000;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-radius: 20px;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}
