.root {
    -fx-font-family: Consolas;
}

.button {
    -fx-background-color: #FFF;
    -fx-text-fill: #000;
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-border-radius: 20px;
    -fx-background-radius: 0
}

.text-field {
    -fx-background-radius: 0;
    -fx-padding: 5px;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}
